<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>


    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styleBox.css"/>
    <link rel="shortcut icon" href="/images/icon.jpg" type="image/jpg">

</head>
<body>
<div th:if="${message}"></div>
<div class="box">
    <form th:action="@{/registration}" method="post">

        <h1>Registration</h1>
        <input placeholder="first name" type="text" autocomplete="off" name="firstName"/>
        <input placeholder="last name" type="text" autocomplete="off" name="lastName"/>
        <input placeholder="email" type="text" autocomplete="off" name="email"/>
        <input placeholder="password" type="password" name="password"/>
        <input placeholder="chat id" type="text" autocomplete="off" name="chatId"/>
        <input type="submit" value="Registration"/>
    </form>
    <button type="button" onclick="cancelForm()" name="cancel">Home</button>

</div>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]"
    }
</script>
</body>
</html>