<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" href="/images/icon.jpg" type="image/jpg">
</head>
<body style="background: lightseagreen">
<div class="container-fluid text-center">
    <div><h2>Manage Task</h2></div>
    <div sec:authorize="hasAuthority('write')" class="m-2">
        <a class="h3" th:href="@{/tasks/new}">Add New Task</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <br>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Users</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="task : ${listTasks}">
                <tr>
                    <td>[[${task.id}]]</td>
                    <td>[[${task.nameTask}]]</td>
                    <td>[[${task.descriptionTask}]]</td>
                    <td>[[${task.users}]]</td>
                    <td sec:authorize="hasAuthority('write')" >
                        <form method="get" th:action="@{'/telegram/send_task/'+${task.getId()}}">
                            <input class="btn btn-success h5 mr-1" type="submit" value="Send task"/>
                        </form>
                        <form method="get" th:action="@{'/tasks/'+${task.getId()}}">
                            <input class="btn btn-warning h5 mr-1" type="submit" value="Edit"/>
                        </form>
                        <form method="post" th:action="@{/tasks/{id}(id=${task.getId()})}">
                            <input type="hidden" name="_method" value="delete"/>
                            <input class="btn btn-danger h5 mr-1" type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>

            </th:block>


            </tbody>


        </table>
        <div>
            <button type="button" onclick="cancelForm()" class="btn btn-secondary m-2">Home</button>
        </div>

    </div>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]"
    }
</script>



</body>
</html>