<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" href="/images/icon.jpg" type="image/jpg">
</head>
<body style="background: beige">
<div class="container-fluid text-center">
    <div><h2>Manage User</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/users/new}">Add New User</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <br>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Chat id</th>
                <th>Tasks</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${listUsers}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.role}]]</td>
                    <td>[[${user.status}]]</td>
                    <td>[[${user.chatId}]]</td>
                    <td>[[${user.tasks}]]</td>
                    <td sec:authorize="hasAuthority('write')" >
                        <form method="get"
                              th:action="@{'/users/'+${user.getId()}}">
                            <input class="btn btn-warning h5 mr-1" type="submit" value="Edit"/>
                        </form>
                        <form method="post"
                              th:action="@{/users/{id}(id=${user.getId()})}">
                            <input type="hidden" name="_method" value="delete"/>
                            <input class="btn btn-danger h5 mr-1" type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div>
            <button type="button" onclick="cancelForm()" class="btn btn-secondary m-2">Home</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]"
    }
</script>


</body>
</html>