<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/css/styleBox.css"/>
    <link rel="shortcut icon" href="/images/icon.jpg" type="image/jpg">

</head>
<body>
<div class="box">
    <form>
        <h1>User page</h1>
        <br>
        <p name="info">This page for information about user...</p>
    </form>
    <button name="cancel" onclick="cancelForm()">Cancel</button>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]"
    }
</script>
</body>
</html>