<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <link rel="stylesheet" type="text/css" href="css/styleBox.css"/>
    <link rel="stylesheet" type="text/css" href="css/403.css"/>
    <link rel="shortcut icon" href="images/icon.jpg" type="image/jpg">
</head>
<body>


<div class="box">
    <h1>Error 403</h1>
    <h1 name="error">Access denied</h1>
    <br>
    <button type="button" onclick="cancelForm()" class="btn btn-secondary m-2">Home</button>

</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]"
    }
</script>

</body>
</html>