<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link type="text/css" rel="stylesheet" href="css/mystyle.css">
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>
<h1 style="color:blue;text-align:center;">This is a heading</h1>
<p style="color:red;">This is a paragraph.</p>
<h1>Home</h1>
<hr>
<form th:action="@{/telegram-page}" method="get">
    <input type="submit" value="Telegram"/>
</form>
<br>
<form th:action="@{/login}" method="get">
    <input type="submit" value="Login"/>
</form>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>