<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telegrem place</title>
    <link rel="stylesheet" type="text/css" href="css/styleBox.css"/>
    <link rel="shortcut icon" href="images/icon.jpg" type="image/jpg">

</head>
<body>

<div class="box">
    <h1>Telegram Manager</h1>
    <br>
    <form th:action="@{/telegram/send}" method="get">
        <input name="sendReport" type="submit" value="Send Message"/>
    </form>
    <button name="cancel"><a href="/">Cancel</a></button>
</div>


</body>
</html>